@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to right, #ecfce9, #fae9ec); */
  /* background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%); */
  background-image: linear-gradient(to right, rgb(251, 218, 231), rgb(203, 248, 239));
}

